<% title "Photo crop" %>
<% content_for (:head) do %>
<%= stylesheet_link_tag "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>

<% end %>

<%= image_tag @objet.image.url(:crop), :id => "cropbox" %>

<%= form_for @objet, :url => admin_objet_path(@objet) do |form| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= form.text_field attribute, :id => attribute %> 
  <% end %>
  <p><%= form.submit "Crop" %></p>
<% end %>