<div id = "contactForm">
<%= form_for @contact_form do |f| %>

<div class="field_margined field">
	message<br />
	<%= f.text_area :message %><br /><br><br>
</div>
<div class="field_margined field">
	<%= f.label :email %></br>
	<%= f.email_field :email, :required => true %>
	<br /><br><br>
</div>
<div class="field">
<%= f.submit "", :id => "send-button" %>
</div>

<% end %>
</div>