<!DOCTYPE html>
<html>
<head>
  <title>Label Industriel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link rel="icon" type="image/png" href="assets/favicon.png" />
</head>
<body>
<div id="loading"></div>
<header>
	<div id="logo">
	<%=link_to "",'/'%>
	</div>
</header>
<nav>

<%= content_tag :div, :class => "menu" do -%>
<ul>
<%=menu_objets_link "luminaires"%>
<%= menu_objets_link "assises"%>
<%=menu_objets_link "tables"%>
<%=menu_objets_link "horloges"%>
<%=menu_objets_link "autres"%>
</ul>
<% end -%>
<%= content_tag :div, :class => "menu" do -%>
<ul>
<%=	link_to raw("<li>TOUT</li>"), '/tout', :class => color_class('tout') %>
<%= link_to raw('<li>événements</li>'), '/events', :class => color_class("events") %>
<%= link_to raw('<li>contact</li>'), new_contact_form_path, :class => color_class("contact") %>
</ul>
<% end -%>

</nav>
<%= content_tag :div, :id => "content" do -%>
<%= yield %>
<% end -%>

<footer>
	<p>LABEL INDUSTRIEL<span class="footseparator">•</span>Rue de l’Épinette, 7   7604 Baugnies   BELGIQUE<span class="footseparator">•</span>0032 492 04 36 52<span class="footseparator">•</span>Suivez nos événements sur
	</p> 
	<div class="social">
	<%=link_to "",'http://www.facebook.com/LabelIndustriel',:id =>"facebook"%>
	<%=link_to "",'http://be.linkedin.com/pub/jean-françois-huart/51/310/1a6',:id =>"linkedIn"%>
	</div>
	<p id="griffe"> site créé par ZOMBIE SHARKS</p>
</footer>
</body>
</html>

